@font-face {
    font-family: 'JetBrainsMono';
    src: url('assets/fonts/jetbrainsmono.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('assets/fonts/jetbrainsmono.woff2') format('woff2'),
         url('assets/fonts/jetbrainsmono.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

:root {
  --background: #24273B;
  --background-dark: #1e2030;
  --black-dark: #494d64;
  --black-light: #5b6078;
  --gray-dark: #a5adcb;
  --gray-light: #b8c0e0;
  --red: #ed8796;
  --green: #a6da95;
  --yellow: #eed49f;
  --peach: #f5a980;
  --blue: #8aadf4;
  --pink: #f5bde6;
  --cyan: #8bd5ca;
  --purple: #b290df; 
}

html {
  height: 100%;
  font-family: JetBrainsMono;
}

body {
  margin: 0;
  height: 100%;
  color: var(--gray-light);
  background-color: var(--background);
}

h1 {
  margin: 0;
  color: var(--red);
}

h1:before {
  content: "# ";
  color: var(--blue);
}

h2 {
  margin: 0;
  color: var(--peach);
}

h2:before {
  content: "## ";
  color: var(--blue);
}

h3 {
  margin: 0;
  color: var(--yellow);
}

h3:before {
  content: "### ";
  color: var(--blue);
}

h4 {
  margin: 0;
  color: var(--green);
}

h4:before {
  content: "#### ";
  color: var(--blue);
}

h5 {
  margin: 0;
  color: var(--cyan);
}

h5:before {
  content: "##### ";
  color: var(--blue);
}

h6 {
  margin: 0;
}

h6:before {
  content: "###### ";
  color: var(--blue);
}

a {
  color: var(--blue);
  text-decoration: unset;
}

a:hover {
  text-decoration: underline;
}

strong {
  color: var(--cyan);
}

strong:before {
  content: "**";
}

strong:after {
  content: "**";
}

em {
  color: var(--green);
}

em:before {
  content: "*";
}

em:after {
  content: "*";
}

ul {
  list-style: none;
  padding: 0;
}

ul li:before {
  content: "- "; 
  color: var(--pink);
  font-weight: bold;
}

ol {
  counter-reset: item;
  list-style: none;
  padding: 0;
}

ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: var(--pink);
}

blockquote {
  margin-left: 0;
  padding-left: 20px;
  color: var(--yellow);
  border-left: 2px solid var(--pink);
}

code {
  background-color: var(--background-dark);
  display: inline-block;
  padding: 10px;
}

nav {
  gap: 5px;
  display: flex;
  padding-bottom: 0px;
  cursor: default;
  background-color: var(--background-dark);
}

nav a {
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  color: var(--gray-dark);
  cursor: pointer;
  background-color: var(--background);
}

nav a:focus {
  color: var(--gray-light);
}

nav a:hover {
  color: var(--blue);
  text-decoration: none;
}

table, td, th {
  padding: 5px;
  border-collapse: collapse;
  border: 2px solid var(--black-light);
}

th {
  font-weight: bold;
  text-align: left;
}

hr {
  color: var(--black-light);
  border: none;
  height: 2px;
  background-color: var(--black-light);
}

.glow {
  text-shadow: 0px 0px 3px;
}

.content {
  padding: 20px;
}

.grid {
  display: flex;
}

.line-numbers {
  margin: 0;
  gap: 0px;
  text-align: right;
  max-width: min-content;
  margin-left: 20px;
}

.line-numbers li:before {
  content: counter(item);
  color: var(--black-dark); 
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--background);
}

.waving-smiley {
  display: flex;
}

.waving-smiley div {
  animation: waving 1s infinite;
  transform-origin: bottom left;
}

@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave span {
  display: table-cell;
  animation: wave 1s infinite;
  animation-timing-function: linear;
}

.wave span:nth-child(2) {
  animation-delay: .1s;
}

.wave span:nth-child(3) {
  animation-delay: .2s;
}

.wave span:nth-child(4) {
  animation-delay: .3s;
}

.wave span:nth-child(5) {
  animation-delay: .4s;
}

.wave span:nth-child(6) {
  animation-delay: .5s;
}

.wave span:nth-child(7) {
  animation-delay: .6s;
}

.wave span:nth-child(8) {
  animation-delay: .7s;
}

.wave span:nth-child(9) {
  animation-delay: .8s;
}

.wave span:nth-child(10) {
  animation-delay: .9s;
}

.wave span:nth-child(11) {
  animation-delay: 1s;
}

.wave span:nth-child(12) {
  animation-delay: 1.1s;
}

.wave span:nth-child(13) {
  animation-delay: 1.2s;
}

.wave span:nth-child(14) {
  animation-delay: 1.3s;
}

.wave span:nth-child(15) {
  animation-delay: 1.4s;
}

.wave span:nth-child(16) {
  animation-delay: 1.5s;
}

@keyframes wave {
  0% {
    transform: translateY(0px); 
  }
  25% {
    transform: translateY(-7px);
    text-shadow: 1px 1px 5px var(--gray-light);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(7px);
    text-shadow: 1px 1px 5px var(--gray-light);
  }
  100% {
    transform: translateY(0px);
  }
}

.flag {
  display: flex;
  flex-direction: column;
}

.flag > span:nth-child(1) {
  color: var(--red);
}

.flag > span:nth-child(2) {
  color: var(--peach);
}

.flag > span:nth-child(3) {
  color: var(--yellow);
}

.flag > span:nth-child(4) {
  color: var(--green);
}

.flag > span:nth-child(5) {
  color: var(--cyan);
}

.flag > span:nth-child(6) {
  color: var(--blue);
}

.flag > span:nth-child(7) {
  color: var(--purple);
}

.flag > span:nth-child(8) {
  color: var(--purple);
}

