@font-face {
    font-family: 'JetBrainsMono';
    src: url('assets/fonts/jetbrainsmono.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('assets/fonts/jetbrainsmono.woff2') format('woff2'),
         url('assets/fonts/jetbrainsmono.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

:root {
  --background: #24273B;
  --background-dark: #1e2030;
  --black-dark: #494d64;
  --black-light: #5b6078;
  --gray-dark: #a5adcb;
  --gray-light: #b8c0e0;
  --red: #ed8796;
  --green: #a6da95;
  --yellow: #eed49f;
  --peach: #f5a980;
  --blue: #8aadf4;
  --pink: #f5bde6;
  --cyan: #8bd5ca;
}

html {
  height: 100%;
  font-family: JetBrainsMono;
}

body {
  margin: 0;
  height: 100%;
  color: var(--gray-light);
  font-size: 14pt;
  background-color: var(--background);
}

h1 {
  margin: 0;
  color: var(--red);
}

h1:before {
  content: "# ";
  color: var(--blue);
}

h2 {
  margin: 0;
  color: var(--peach);
}

h2:before {
  content: "## ";
  color: var(--blue);
}

h3 {
  margin: 0;
  color: var(--yellow);
}

h3:before {
  content: "### ";
  color: var(--blue);
}

h4 {
  margin: 0;
  color: var(--green);
}

h4:before {
  content: "#### ";
  color: var(--blue);
}

h5 {
  margin: 0;
  color: var(--cyan);
}

h5:before {
  content: "##### ";
  color: var(--blue);
}

h6 {
  margin: 0;
}

h6:before {
  content: "###### ";
  color: var(--blue);
}

a {
  color: var(--blue);
  text-decoration: unset;
}

a:hover {
  text-decoration: underline;
}

strong {
  color: var(--cyan);
}

em {
  color: var(--green);
}

ul {
  list-style: none;
  padding: 0;
}

ul li:before {
  content: "- "; 
  color: var(--pink);
  font-weight: bold;
}

ol {
  counter-reset: item;
  list-style: none;
  padding: 0;
}

ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: var(--pink);
}

blockquote {
  margin-left: 0;
  padding-left: 20px;
  color: var(--yellow);
  border-left: 2px solid var(--pink);
}

code {
  background-color: var(--background-dark);
  display: inline-block;
  padding: 10px;
}

nav {
  padding: 5px;
}

nav a {
  padding: 5px;
  color: var(--gray-dark);
}

nav a:focus {
  color: var(--gray-light);
}

nav a:hover {
  color: var(--blue);
  text-decoration: none;
}

.content {
  padding: 20px;
}

.grid {
  display: flex;
}

.line-numbers {
  margin: 0;
  gap: 0px;
  text-align: right;
  max-width: min-content;
  margin-left: 20px;
}

.line-numbers li:before {
  content: counter(item);
  color: var(--black-dark); 
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--background);
}
